<!DOCTYPE html>
<html>
{{> navbar}}
<body data-spy="scroll" data-target=".navbar" data-offset="50">
  <div class="content" id="palette1">
      <div class="container palette-text">
        <ul class="home-content">
            <li>{{text1}} </li>
            <li>{{text2}} </li>
            <li>{{text3}} </li>
            <li>{{text4}} </li>
            <li>{{text5}} </li>
        </ul>
      </div>

  </div>
  <div class="content" id="palette2">
        
  </div>
  <div class="content" id="palette3">
        
  </div>
  <div class="content" id="palette4">
        
  </div>
  <div class="content" id="palette5">
        
  </div>
</body>
</html>