<!DOCTYPE html>
<html>
{{> navbar}}
<body data-spy="scroll" data-target=".navbar" data-offset="50">
  <div class="content palette1" id="home">
      <div class="container palette-text">
        <ul class="home-content">
            <li>{{text1}} </li>
            <li>{{text2}} </li>
            <li>{{text3}} </li>
            <li>{{text4}} </li>
            <li>{{text5}} </li>
        </ul>
      </div>

  </div>
  <div class="content palette2" id="portfolio">
    {{> portfolio}}
  </div>
  <div class="content palette3" id="sound">
        
  </div>
  <div class="content palette4" id="shop">

        <div id='product-component-b4f82d50312'></div>
      <script type="text/javascript">
/*<![CDATA[*/

(function () {
  var scriptURL = 'https://sdks.shopifycdn.com/buy-button/latest/buy-button-storefront.min.js';
  if (window.ShopifyBuy) {
    if (window.ShopifyBuy.UI) {
      ShopifyBuyInit();
    } else {
      loadScript();
    }
  } else {
    loadScript();
  }

  function loadScript() {
    var script = document.createElement('script');
    script.async = true;
    script.src = scriptURL;
    (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(script);
    script.onload = ShopifyBuyInit;
  }

  function ShopifyBuyInit() {
    var client = ShopifyBuy.buildClient({
      domain: 'palette-agency.myshopify.com',
      apiKey: '25f7dd448d3285bef525b91fbcd8ccc1',
      appId: '6',
    });

    ShopifyBuy.UI.onReady(client).then(function (ui) {
      ui.createComponent('product', {
        id: [9533832779],
        node: document.getElementById('product-component-b4f82d50312'),
        moneyFormat: '%24%7B%7Bamount%7D%7D',
        options: {
  "product": {
    "layout": "horizontal",
    "variantId": "all",
    "width": "100%",
    "contents": {
      "img": false,
      "imgWithCarousel": true,
      "variantTitle": false,
      "description": true,
      "buttonWithQuantity": false,
      "quantity": false
    },
    "styles": {
      "product": {
        "text-align": "left",
        "@media (min-width: 601px)": {
          "max-width": "100%",
          "margin-left": "0",
          "margin-bottom": "50px"
        }
      },
      "title": {
        "font-size": "26px"
      },
      "price": {
        "font-size": "18px"
      },
      "compareAt": {
        "font-size": "15px"
      }
    }
  },
  "cart": {
    "contents": {
      "button": true
    },
    "styles": {
      "footer": {
        "background-color": "#ffffff"
      }
    }
  },
  "modalProduct": {
    "contents": {
      "img": false,
      "imgWithCarousel": true,
      "variantTitle": false,
      "buttonWithQuantity": true,
      "button": false,
      "quantity": false
    },
    "styles": {
      "product": {
        "@media (min-width: 601px)": {
          "max-width": "100%",
          "margin-left": "0px",
          "margin-bottom": "0px"
        }
      }
    }
  },
  "productSet": {
    "styles": {
      "products": {
        "@media (min-width: 601px)": {
          "margin-left": "-20px"
        }
      }
    }
  }
}
      });
    });
  }
})();
/*]]>*/
</script>  
  </div>
  <div class="content palette5" id="contact">
      <div class="container palette-text">
        <p>For enlisting the agency's services, internship inquiries, and other questions, send us an email: 
        <a href="mailto:hello@paletteagency.com" target="_top">hello@paletteagency.co</a>
        </p>
        <div class="contact-icons">
           <a href="https://www.instagram.com/paletteagency"><img alt="Instagram"  class="logo" src="/images/Icons/instagram.png"></a>
           <a href="https://www.facebook.com/paletteagency"><img alt="Facebook" class="logo" src="/images/Icons/facebook.png"></a>
           <a href="https://www.twitter.com/paletteagency"><img alt="Twitter" class="logo" src="/images/Icons/twitter.png"></a>
           <a href="https://www.soundcloud.com/paletteagency"><img alt="Soundcloud" class="logo" src="/images/Icons/soundcloud.png"></a>
        </div>
      </div> 
        
  </div>
</body>
</html>